<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.jsun999.mapper.CoverMapper">

    <!-- 通过分类ID获取文章列表 -->
    <select id="queryCoverByCategoryId" resultType="site.jsun999.model.Cover">
        SELECT
        p.id,
        p.title,
        p.description,
        p.category_id,
        p.category_name,
        p.status,
        p.img_url,
        p.link_url,
        p.create_time
        FROM
        t_cover p
        <where>
            <if test="categoryId != null and categoryId != 0">
                AND p.category_id = #{categoryId}
            </if>
            <if test="status !=null">
                AND  p.status = #{status}
            </if>
            <if test="title !=null">
                AND p.title LIKE CONCAT('%',#{title},'%')
            </if>
        </where>
        ORDER BY p.create_time DESC
    </select>

    <!-- 获取封面列表 -->
    <select id="getList" parameterType="java.lang.Integer" resultType="site.jsun999.model.Cover">
        SELECT
            p.id,
            p.title,
            p.description,
            p.category_id,
            p.category_name,
            p.img_url,
            p.link_url,
            p.create_time
        FROM
            t_cover p
        <where>
            <if test="status !=null">
                p.status = #{status}
            </if>
        </where>
        ORDER BY p.create_time DESC
    </select>


    <!-- 获取上一篇文章 -->
    <select id="getPreviousInfo" parameterType="java.lang.Integer" resultType="site.jsun999.model.Cover">
        SELECT
            p.id,
            p.title,
            p.description,
            p.img_url,
            p.create_time
        FROM
          t_cover p
        WHERE
          p. STATUS = 1
        AND p.create_time &lt; (
            SELECT
              create_time
            FROM
              t_cover
            WHERE
              id = #{id}
            )
        ORDER BY
          p.create_time DESC
        LIMIT 1
    </select>

    <!-- 获取下一篇文章 -->
    <select id="getNextInfo" parameterType="java.lang.Integer" resultType="site.jsun999.model.Cover">
        SELECT
            p.id,
            p.title,
            p.description,
            p.img_url,
            p.create_time
        FROM
            t_cover p
        WHERE
            p. STATUS = 1
        AND p.create_time &gt; (
            SELECT
                create_time
            FROM
                t_cover
            WHERE
                id = #{id}
        )
        ORDER BY
            p.create_time ASC
        LIMIT 1
    </select>

    <!-- 批量删除 -->
    <delete id="deleteBatch">
        DELETE FROM t_cover WHERE id IN
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>