<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.jsun999.mapper.MusicMapper">

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="site.jsun999.model.Music" useGeneratedKeys="true">
    insert into t_music (`type`, link, songid,
      `name`, author, music,
      pic, create_time, update_time
      )
    values (#{type,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, #{songid,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{music,jdbcType=VARCHAR},
      #{pic,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="site.jsun999.model.Music" useGeneratedKeys="true">
    insert into t_music
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        `type`,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="songid != null">
        songid,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="music != null">
        music,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="songid != null">
        #{songid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="music != null">
        #{music,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

</mapper>