<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.jsun999.mapper.MusicMapper">


    <select id="selectByAlbum" resultType="site.jsun999.common.vo.MusicVo">
        select name,author as artist,music as url,pic as cover from
        t_music where album = #{album}
    </select>
</mapper>