@charset "UTF-8";




#social-share {
    float: right;
    cursor: pointer
}

#social-share i {
    margin-right: 5px
}

#social {
    display: none
}

#social ul {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fff;
}

#social ul li i {
    font-size: 25px;
    line-height: 63px;
    text-align: center;
    color: #888;
    cursor: pointer
}

#social ul li {
    display: inline-table;
    width: 70px
}
.editormd-preview-container, .editormd-html-preview {
    text-align: left;
    font-size: 14px;
    line-height: 1.6;
    padding: 20px 0px;
    overflow: auto;
    width: 100%;
    background-color: #fff;
}
.editormd-preview-container blockquote, .editormd-html-preview blockquote {
    color: #666;
    border-left: 4px solid #ddd;
    padding-left: 20px;
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 14px;
}

.editormd-preview-container blockquote p, .editormd-html-preview blockquote p {
    font-size: 18px;
}
.editormd-preview-container p code, .editormd-html-preview p code {
    margin-left: 5px;
    margin-right: 4px;
}

.editormd-preview-container hr, .editormd-html-preview hr {
    height: 1px;
    border: none;
    border-top: 1px solid #ddd;
    background: none;
}
.editormd-preview-container code, .editormd-html-preview code {
    padding: 3px;
    border-radius: 3px;
    font-size: 15px;
}
.editormd-preview-container pre, .editormd-html-preview pre {
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.editormd-preview-container pre code, .editormd-html-preview pre code {
    padding: 6px;
}
.editormd-preview-container pre, .editormd-preview-container code, .editormd-preview-container kbd, .editormd-html-preview pre, .editormd-html-preview code, .editormd-html-preview kbd {
    font-family: Play,"Microsoft YaHei";
}

.editormd-preview-container p.editormd-tex, .editormd-html-preview p.editormd-tex {
    text-align: center;
}
.editormd-preview-container span.editormd-tex, .editormd-html-preview span.editormd-tex {
    margin: 0 5px;
}
.editormd-preview-container .emoji, .editormd-html-preview .emoji {
    width: 24px;
    height: 24px;
}
.editormd-preview-container .katex, .editormd-html-preview .katex {
    font-size: 1.4em;
}
.editormd-preview-container .sequence-diagram, .editormd-preview-container .flowchart, .editormd-html-preview .sequence-diagram, .editormd-html-preview .flowchart {
    margin: 0 auto;
    text-align: center;
}
.editormd-preview-container .sequence-diagram svg, .editormd-preview-container .flowchart svg, .editormd-html-preview .sequence-diagram svg, .editormd-html-preview .flowchart svg {
    margin: 0 auto;
}
.editormd-preview-container .sequence-diagram text, .editormd-preview-container .flowchart text, .editormd-html-preview .sequence-diagram text, .editormd-html-preview .flowchart text {
    font-size: 15px !important;
    font-family: Play,"Microsoft YaHei";
}

.hljs {
    border: 0;
    font-size: 12px;
    display: block;
    padding: 1px;
    margin: 0;
    width: 100%;
    white-space: pre-wrap
}

.hljs ol {
    list-style: decimal;
    margin: 0px 0px 0 40px !important;
    padding: 0px;
}
.hljs ol li {
    list-style: decimal-leading-zero;
    border-left: 1px solid #ddd !important;
    padding: 3px 10px !important;
    margin: 0 !important;
    white-space: pre;
    font-size: 16px;
}
article p {
    color: #585454;
    font-size: 16px;
    /*text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);*/
}
.detail-boby {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #333;
    overflow: hidden;
    font-family: Play,"Microsoft YaHei";
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}

.detail-boby a {
    background: transparent;
}

.detail-boby a:active,
.detail-boby a:hover {
    outline: 0;
}

.detail-boby strong {
    font-weight: bold;
}

.detail-boby h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.detail-boby hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

.detail-boby pre {
    overflow: auto;
}

.detail-boby code,
.detail-boby kbd,
.detail-boby pre {
    font-family: Play,"Microsoft YaHei";
    font-size: 1em;
}

.detail-boby input {
    color: inherit;
    font: inherit;
    margin: 0;
}

.detail-boby html input[disabled] {
    cursor: default;
}

.detail-boby input {
    line-height: normal;
}

.detail-boby input[type="checkbox"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.detail-boby table {
    border-collapse: collapse;
    border-spacing: 0;
}

.detail-boby td,
.detail-boby th {
    padding: 0;
}

.detail-boby * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.detail-boby input {
    font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.detail-boby a {
    color: #4183c4;
    text-decoration: none;
}

.detail-boby a:hover,
.detail-boby a:active {
    text-decoration: underline;
}

.detail-boby hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
}

.detail-boby hr:before {
    display: table;
    content: "";
}

.detail-boby hr:after {
    display: table;
    clear: both;
    content: "";
}

.detail-boby h1,
.detail-boby h2,
.detail-boby h3,
.detail-boby h4,
.detail-boby h5,
.detail-boby h6 {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.1;
}

.detail-boby h1 {
    font-size: 30px;
}

.detail-boby h2 {
    font-size: 21px;
}

.detail-boby h3 {
    font-size: 16px;
}

.detail-boby h4 {
    font-size: 14px;
}

.detail-boby h5 {
    font-size: 12px;
}

.detail-boby h6 {
    font-size: 11px;
}

.detail-boby blockquote {
    margin: 0;
}

.detail-boby ul,
.detail-boby ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.detail-boby ol ol,
.detail-boby ul ol {
    list-style-type: lower-roman;
}

.detail-boby ul ul ol,
.detail-boby ul ol ol,
.detail-boby ol ul ol,
.detail-boby ol ol ol {
    list-style-type: lower-alpha;
}

.detail-boby dd {
    margin-left: 0;
}

.detail-boby code {
    font-family: Play,"Microsoft YaHei";
    font-size: 12px;
}

.detail-boby pre {
    margin-top: 0;
    margin-bottom: 0;
    font: 12px Play,"Microsoft YaHei";
}

.detail-boby .octicon {
    font: normal normal 16px octicons-anchor;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.detail-boby .octicon-link:before {
    content: '\f05c';
}

.detail-boby > *:first-child {
    margin-top: 0 !important;
}

.detail-boby > *:last-child {
    margin-bottom: 0 !important;
}

.detail-boby .anchor {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px;
}

.detail-boby .anchor:focus {
    outline: none;
}

.detail-boby h1,
.detail-boby h2,
.detail-boby h3,
.detail-boby h4,
.detail-boby h5,
.detail-boby h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
}

.detail-boby h1 .octicon-link,
.detail-boby h2 .octicon-link,
.detail-boby h3 .octicon-link,
.detail-boby h4 .octicon-link,
.detail-boby h5 .octicon-link,
.detail-boby h6 .octicon-link {
    display: none;
    color: #000;
    vertical-align: middle;
}

.detail-boby h1:hover .anchor,
.detail-boby h2:hover .anchor,
.detail-boby h3:hover .anchor,
.detail-boby h4:hover .anchor,
.detail-boby h5:hover .anchor,
.detail-boby h6:hover .anchor {
    padding-left: 8px;
    margin-left: -30px;
    text-decoration: none;
}

.detail-boby h1:hover .anchor .octicon-link,
.detail-boby h2:hover .anchor .octicon-link,
.detail-boby h3:hover .anchor .octicon-link,
.detail-boby h4:hover .anchor .octicon-link,
.detail-boby h5:hover .anchor .octicon-link,
.detail-boby h6:hover .anchor .octicon-link {
    display: inline-block;
}

.detail-boby h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
}

.detail-boby h1 .anchor {
    line-height: 1;
}

.detail-boby h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

.detail-boby h2 .anchor {
    line-height: 1;
}

.detail-boby h3 {
    font-size: 1.5em;
    line-height: 1.43;
}

.detail-boby h3 .anchor {
    line-height: 1.2;
}

.detail-boby h4 {
    font-size: 1.25em;
}

.detail-boby h4 .anchor {
    line-height: 1.2;
}

.detail-boby h5 {
    font-size: 1em;
}

.detail-boby h5 .anchor {
    line-height: 1.1;
}

.detail-boby h6 {
    font-size: 1em;
    color: #777;
}

.detail-boby h6 .anchor {
    line-height: 1.1;
}

.detail-boby p,
.detail-boby blockquote,
.detail-boby ul,
.detail-boby ol,
.detail-boby dl,
.detail-boby table,
.detail-boby pre {
    margin-top: 0;
    margin-bottom: 16px;
}

/*
.detail-boby hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}*/
.detail-boby ul,
.detail-boby ol {
    padding-left: 2em;
}

.detail-boby ul ul,
.detail-boby ul ol,
.detail-boby ol ol,
.detail-boby ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.detail-boby li > p {
    margin-top: 16px;
}

.detail-boby dl {
    padding: 0;
}

.detail-boby dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

.detail-boby dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.detail-boby blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
}

.detail-boby blockquote > :first-child {
    margin-top: 0;
}

.detail-boby blockquote > :last-child {
    margin-bottom: 0;
}

.detail-boby table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}

.detail-boby table th {
    font-weight: bold;
}

.detail-boby table th,
.detail-boby table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

.detail-boby table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.detail-boby table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.detail-boby kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

.detail-boby .pl-c {
    color: #969896;
}

.detail-boby .pl-c1,
.detail-boby .pl-mdh,
.detail-boby .pl-mm,
.detail-boby .pl-mp,
.detail-boby .pl-mr,
.detail-boby .pl-s1 .pl-v,
.detail-boby .pl-s3,
.detail-boby .pl-sc,
.detail-boby .pl-sv {
    color: #0086b3;
}

.detail-boby .pl-e,
.detail-boby .pl-en {
    color: #795da3;
}

.detail-boby .pl-s1 .pl-s2,
.detail-boby .pl-smi,
.detail-boby .pl-smp,
.detail-boby .pl-stj,
.detail-boby .pl-vo,
.detail-boby .pl-vpf {
    color: #333;
}

.detail-boby .pl-ent {
    color: #63a35c;
}

.detail-boby .pl-k,
.detail-boby .pl-s,
.detail-boby .pl-st {
    color: #a71d5d;
}

.detail-boby .pl-pds,
.detail-boby .pl-s1,
.detail-boby .pl-s1 .pl-pse .pl-s2,
.detail-boby .pl-sr,
.detail-boby .pl-sr .pl-cce,
.detail-boby .pl-sr .pl-sra,
.detail-boby .pl-sr .pl-sre,
.detail-boby .pl-src {
    color: #df5000;
}

.detail-boby .pl-mo,
.detail-boby .pl-v {
    color: #1d3e81;
}

.detail-boby .pl-id {
    color: #b52a1d;
}

.detail-boby .pl-ii {
    background-color: #b52a1d;
    color: #f8f8f8;
}

.detail-boby .pl-sr .pl-cce {
    color: #63a35c;
    font-weight: bold;
}

.detail-boby .pl-ml {
    color: #693a17;
}

.detail-boby .pl-mh,
.detail-boby .pl-mh .pl-en,
.detail-boby .pl-ms {
    color: #1d3e81;
    font-weight: bold;
}

.detail-boby .pl-mq {
    color: #008080;
}

.detail-boby .pl-mi {
    color: #333;
    font-style: italic;
}

.detail-boby .pl-mb {
    color: #333;
    font-weight: bold;
}

.detail-boby .pl-md,
.detail-boby .pl-mdhf {
    background-color: #ffecec;
    color: #bd2c00;
}

.detail-boby .pl-mdht,
.detail-boby .pl-mi1 {
    background-color: #eaffea;
    color: #55a532;
}

.detail-boby .pl-mdr {
    color: #795da3;
    font-weight: bold;
}

.detail-boby kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

.detail-boby .task-list-item {
    list-style-type: none;
}

.detail-boby .task-list-item + .task-list-item {
    margin-top: 3px;
}

.detail-boby .task-list-item input {
    float: left;
    margin: 0.3em 0 0.25em -1.6em;
    vertical-align: middle;
}

.detail-boby :checked + .radio-label {
    z-index: 1;
    position: relative;
    border-color: #4183c4;
}
.post_content {
    margin: 0 auto;
    line-height: 1.75;
    max-width: 1000px;
    position: relative
}
.post_content {
    padding: 0 10px
}

.post {
    position: relative;
    max-width: 1100px;
    margin: 0 auto 20px;
    box-shadow: 1px 1px 58px 1px #e1dede;
    background-color:#fff;

}
h1.post_title {
    color: #333;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
    /*text-transform: uppercase*/
}

.post_header {
    position: relative;
    text-align: center;
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale
}
.split__title {
    float: left;
    text-align: left;
}

.cf:before,
.cf:after {
    content: "";
    display: table
}

.cf:after {
    clear: both
}

.cf {
    zoom: 1
}

.meta,
.post-date {
    font-size: 15px;
    color: #A1A1A1;
    /*text-transform: uppercase;*/
    margin: 30px 0;
}
.post-other-info {
    border-top: 1px dashed #ccc;
    padding:2em 0;
}
.post-content a, .post-copyright a,.post-other-info a{
    position: relative;
    color:#777;
    font-weight:200;
    text-decoration: none;
    display: inline-block;
    transition: all .3s;
}

.post-content a:hover, .post-copyright a:hover,.post-other-info a:hover{
    color:#66D37E;
}

.post-other-info a.prev:before {
    position: absolute;
    font-family:FontAwesome;
    content: "\f177";
    left: -10px;
    transform: scale(0);
    transition: all .2s;
    color:#66D37E;
}

.post-other-info a.prev:hover {
    margin-left: 20px;
}

.post-other-info a.prev:hover:before {
    left:-20px;
    transform: scale(1);
}

.post-other-info a.next:before {
    position: absolute;
    font-family:FontAwesome;
    content: "\f178";
    right: -10px;
    transform: scale(0);
    transition: all .2s;
    color:#66D37E;
}

.post-other-info a.next:hover {
    margin-right: 20px;
}

.post-other-info a.next:hover:before {
    right:-20px;
    transform: scale(1);
}

.comment-list {
    position: relative;
    margin-left: 2rem !important;
}

.comment {
    position: relative;
    margin: 15px 0;
}

.comment .comment-img {
    float: left;
    position: relative;
    z-index: 1;
    margin-left: -28px;
}

.comment .comment-img img {
    max-width: 60px;
}

.comment-img + .comment-contents {
    margin-left: 66px;
}

.comment .comment-author {
    margin-bottom: 5px;
}

.comment .comment-date {
    margin-bottom: 5px;
}

.comment-reply .panel-body textarea {
    margin-bottom:10px;
    border-bottom: 1px dashed #e1e1e1;
}

.comment-reply .panel-body input {
    border: 0;
}

.comment-reply a {
    font-size: 14px;
}

.ml-content .comment-body {
    padding: 5px;
}

.ml-content .comment-body-input {
    border: 1px solid #eee;
    padding: 10px 2px;
}

.ml-content .comment-body textarea {
    margin-bottom:10px;
    border-bottom: 1px dashed #e1e1e1;
}

.comment-reply .panel-body {
    padding: 5px;
    margin-bottom:10px;
}

.comment-reply .panel-body-input {
    border: 1px solid #eee;
    padding: 10px 2px;
}

.comment-reply .panel-body {
    width: 95%;
}

.comment-reply .panel-body button ,.ml-content .comment-body button{
    padding: 5px 15px;
}
.ml-content {
    position: relative;
    background-color: #fff;
    padding: 2em 50px;
    margin-top: 1em;
}

.ml-content-title {
    margin-bottom:10px;
}

.ml-content .post {
    margin-bottom: 2em;
}

.ml-content .post-info {
    transition: all 1s;
    border:1px solid #eee;
    max-height: 320px;
}

.post-info .post-bg {
    position: relative;
    color: #fff;
    text-align: center;
    background-color: #000;
}

.ml-content .post-bg a div.category {
    position: absolute;
    left:0;
    right:0;
    top:30%;
    opacity: 0;
    transition: all .2s;
    color:#fff;
}

.ml-content .post-bg a div.tags {
    position: absolute;
    left:0;
    right:0;
    bottom:30%;
    opacity: 0;
    transition: all .2s;
    color:#fff;
}

.ml-content .post-bg a:hover {
    opacity: .7;
}

.ml-content .post-bg:hover div.category {
    top:35%;
    opacity: 1;
}

.ml-content .post-bg:hover div.tags {
    bottom:35%;
    opacity: 1;
}
.comment-form-control {
    border-radius: 0;
    outline-color: invert ;
    outline-style: none ;
    outline-width: 0px ;
    border: none ;
    border-style: none ;
    text-shadow: none ;
    -webkit-appearance: none ;
    -webkit-user-select: text ;
    outline-color: transparent ;
    box-shadow: none;

}

.comment-form-control:focus {
    border-color: #66D37E;
    box-shadow:none;
}

.post iframe {
    max-width: 100%
}
.post [rel="gallery"] {
    position: relative;
    display: inline-table
}

.post [rel="gallery"] img {
    margin: 0
}

.post [rel="gallery"]:hover:after,
.post [rel="gallery"]:hover:before {
    visibility: visible
}

.post [rel="gallery"]:hover:after {
    opacity: .75
}

.post [rel="gallery"]:hover:before {
    opacity: 1
}

.post [rel="gallery"]:after,
.post [rel="gallery"]:before {
    -webkit-transition: opacity 0.25s ease, visibility 0.25s ease;
    -moz-transition: opacity 0.25s ease, visibility 0.25s ease;
    -ms-transition: opacity 0.25s ease, visibility 0.25s ease;
    -o-transition: opacity 0.25s ease, visibility 0.25s ease;
    transition: opacity 0.25s ease, visibility 0.25s ease;
    position: absolute;
    opacity: 0;
    visibility: hidden
}

.post [rel="gallery"]:after {
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 3px
}

.post [rel="gallery"]:before {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1;
    z-index: 1;
    color: #fff;
    content: "\e606";
    font-family: iconfont;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -12px
}
.post [rel="gallery"]:after {
    background: #bebbaa;
}

.post [rel="gallery"]:after {
    background: #ddd;
    background: -moz-linear-gradient(top, #bebbaa 0%, #1abc9c 100%);
    background: -webkit-gradient(linear, top center, bottom center, color-stop(0%, #bebbaa), color-stop(100%, #1abc9c));
    background: -webkit-linear-gradient(top, #ccc 0%, #ccc 100%);
    background: -o-linear-gradient(top, #bebbaa 0%, #1abc9c 100%);
    background: -ms-linear-gradient(top, #bebbaa 0%, #1abc9c 100%);
    background: linear-gradient(to bottom, #ccc 0%, #ccc 100%);
}

.social-share {
    position: relative;
    display: inline-block;
    opacity: 0;
    transition: all .5s;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    left:280px;
}

.share-open {
    opacity: 1;
    top: 0px;
}

article .help p{
    font-size:12px;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.mfp-align-top .mfp-container:before {
    display: none
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto
}

.mfp-ajax-cur {
    cursor: progress
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in
}

.mfp-auto-cursor .mfp-content {
    cursor: auto
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.mfp-loading.mfp-figure {
    display: none
}

.mfp-hide {
    display: none !important
}

.mfp-preloader {
    color: #A1A1A1;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044
}

.mfp-preloader a {
    color: #A1A1A1
}

.mfp-preloader a:hover {
    color: #FFF
}

.mfp-s-ready .mfp-preloader {
    display: none
}

.mfp-s-error .mfp-content {
    display: none
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Play,"Microsoft YaHei";
}

.mfp-close:hover,
.mfp-close:focus {
    opacity: 1
}

.mfp-close:active {
    top: 1px
}

.mfp-close-btn-in .mfp-close {
    color: rgba(0, 0, 0, 0.6)
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #FFF;
    text-align: right;
    padding-right: 6px;
    width: 100%
}

.mfp-counter {
    font-size: 12px;
    font-size: 0.75rem;
    color: #fff;
    opacity: .5;
    line-height: 1.5;
    margin-bottom: 10px
}

.mfp-arrow {
    position: absolute;
    color: #fff;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    padding: 0;
    font-size: 36px;
    -webkit-tap-highlight-color: transparent
}

.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1
}

.mfp-arrow:after {
    content: '';
    font-family: iconfont;
    display: block
}

.mfp-arrow-left {
    left: 10px
}

.mfp-arrow-left:after {
    content: '\e60b'
}

.mfp-arrow-right {
    right: 10px
}

.mfp-arrow-right:after {
    content: '\e60a'
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px
}

.mfp-iframe-holder .mfp-close {
    top: -40px
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000
}

img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 70px;
    margin: 0 auto
}

.mfp-figure {
    line-height: 0
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 70px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444
}

.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px
}

.mfp-figure figure {
    margin: 0
}

.mfp-bottom-bar {
    margin-top: -66px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
    text-align: center
}

.mfp-title {
    font-size: 14px;
    font-size: 0.875rem;
    color: #fff;
    line-height: 28px;
    word-wrap: break-word;
    margin: 10px 0 -5px 0
}

.mfp-image-holder .mfp-content {
    max-width: 100%
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer
}

@media screen and (max-width:800px) and (orientation:landscape),
screen and (max-height:300px) {
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0
    }
    .mfp-img-mobile img.mfp-img {
        padding: 0
    }
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0
    }
    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px
    }
    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0
    }
    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px
    }
    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0
    }
}

@media all and (max-width:900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75)
    }
    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0
    }
    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%
    }
    .mfp-container {
        padding-left: 6px;
        padding-right: 6px
    }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: .8
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0
}
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #000;
    opacity: 0.85
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.mfp-align-top .mfp-container:before {
    display: none
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto
}

.mfp-ajax-cur {
    cursor: progress
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in
}

.mfp-auto-cursor .mfp-content {
    cursor: auto
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.mfp-loading.mfp-figure {
    display: none
}

.mfp-hide {
    display: none !important
}

.mfp-preloader {
    color: #A1A1A1;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044
}

.mfp-preloader a {
    color: #A1A1A1
}

.mfp-preloader a:hover {
    color: #FFF
}

.mfp-s-ready .mfp-preloader {
    display: none
}

.mfp-s-error .mfp-content {
    display: none
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Play,"Microsoft YaHei";
}

.mfp-close:hover,
.mfp-close:focus {
    opacity: 1
}

.mfp-close:active {
    top: 1px
}

.mfp-close-btn-in .mfp-close {
    color: rgba(0, 0, 0, 0.6)
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #FFF;
    text-align: right;
    padding-right: 6px;
    width: 100%
}

.mfp-counter {
    font-size: 12px;
    font-size: 0.75rem;
    color: #fff;
    opacity: .5;
    line-height: 1.5;
    margin-bottom: 10px
}

.mfp-arrow {
    position: absolute;
    color: #fff;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    padding: 0;
    font-size: 36px;
    -webkit-tap-highlight-color: transparent
}

.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1
}

.mfp-arrow:after {
    content: '';
    font-family: iconfont;
    display: block
}

.mfp-arrow-left {
    left: 10px
}

.mfp-arrow-left:after {
    content: '\e60b'
}

.mfp-arrow-right {
    right: 10px
}

.mfp-arrow-right:after {
    content: '\e60a'
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px
}

.mfp-iframe-holder .mfp-close {
    top: -40px
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000
}

img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 70px;
    margin: 0 auto
}

.mfp-figure {
    line-height: 0
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 70px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444
}

.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px
}

.mfp-figure figure {
    margin: 0
}

.mfp-bottom-bar {
    margin-top: -66px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
    text-align: center
}

.mfp-title {
    font-size: 14px;
    font-size: 0.875rem;
    color: #fff;
    line-height: 28px;
    word-wrap: break-word;
    margin: 10px 0 -5px 0
}

.mfp-image-holder .mfp-content {
    max-width: 100%
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer
}

@media screen and (max-width:800px) and (orientation:landscape),
screen and (max-height:300px) {
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0
    }
    .mfp-img-mobile img.mfp-img {
        padding: 0
    }
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0
    }
    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px
    }
    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0
    }
    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px
    }
    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0
    }
}

@media all and (max-width:900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75)
    }
    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0
    }
    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%
    }
    .mfp-container {
        padding-left: 6px;
        padding-right: 6px
    }
}
