<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{portal/layoutNew}">

<head>

</head>

<body class="home blog custom-background round-avatars" itemscope itemtype="http://schema.org/Organization">
<div id="main" class="content" layout:fragment="content">

    <div id="fh5co-main">
        <div class="fh5co-narrow-content">
            <header class="post_header">
                <h2 class="fh5co-heading animate-box post_title" data-animate-effect="fadeInLeft">归档([[${pageInfo.total}]])</h2>
            </header>
            <div class="post-Archive">
                <div id="archives">
                    <div th:if="${pageInfo.total > 0}">
                        <div class='archive-title row row-bottom-padded-md' th:id="'arti-'+${map.key}" th:each="map : ${pageInfo.data}">
                            <h4 class="col-padding animate-box" data-animate-effect="fadeInLeft">[[${map.key}]]</h4>
                            <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft" th:each="vo : ${map.value}">
                                <div class="blog-entry">
                                    <a th:href="@{'/'+${vo.postUrl}}" class="blog-img"><img th:src="@{/portal/images/img-1.jpg}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                                    <div class="desc">
                                        <a th:href="@{'/'+${vo.postUrl}}">[[${vo.title}]]</a>
                                        <span class="time">[[${#dates.format(vo.publishDate, 'yyyy-MM-dd')}]]</span>
                                        <a th:href="@{'/'+${vo.postUrl}}" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="pagination js-pagination" th:if="${#maps.isEmpty(pageInfo.data) eq false}">
								<span th:if="${pageInfo.hasPreviousPage}">
									<a class="prev page-numbers" th:href="@{${pageInfo.pageNum-1} == 1 ? '/archives/' : '/archives/page/' + ${pageInfo.pageNum-1}+'/'}" ><strong>←</strong></a>
								</span>
                            <span th:each="pageNum : ${pageInfo.navigatepageNums}">
									<span th:if="${pageNum == pageInfo.pageNum}">
										<a href="javascript:void(0)" th:text="${pageNum}" class="page-numbers current"></a>
									</span>
									<span th:if="${pageNum != pageInfo.pageNum}">
										<a th:href="@{${pageNum} == 1 ? '/archives/' : '/archives/page/' + ${pageNum}+'/'}" th:text="${pageNum}" class="page-numbers"></a>
									</span>
								</span>
                            <span th:if="${pageInfo.hasNextPage}">
									<a class="next page-numbers" th:href="@{'/archives/page/' + ${pageInfo.pageNum+1}+'/'}" ><strong>→</strong></a>
								</span>
                        </nav>
                    </div>
                    <div class='archive-title' th:if="${pageInfo.total == 0}">
                        <div style="text-align:center;">
                            ~~找不到数据~~
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>