<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{portal/layoutNew}">

<head>

</head>

<body class="home blog custom-background round-avatars" itemscope itemtype="http://schema.org/Organization">
<div id="main" class="content" layout:fragment="content">

    <div id="fh5co-main">
        <div class="fh5co-narrow-content">
            <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">分类</h2>
            <div class="row row-bottom-padded-md" th:each="category: ${categoryList}">
                <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                    <a href="#" class="work image-popup" th:style="@{'background-image: url('+ ${category.imgUrl}+')'}">
                        <div class="desc">
                            <h3>[[${category.name}]]</h3>
                            <span>([[${category.postCount}]])</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>