<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{portal/layoutNew}">

	<head>
		<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
		<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
		<!--<meta name="author" th:content="${#servletContext.getAttribute('paramMap')['author']}">-->
		<!--<title th:text="${post.title}">个人博客</title>-->
		<!--<meta name="description" th:content="${#servletContext.getAttribute('paramMap')['description']}" />-->
		<!--<meta name="keywords" th:content="${post.keyword}" />-->
		<link th:href="@{/portal/js/highlight/styles/github.css}" rel="stylesheet" type="text/css">
		<!--<link rel="stylesheet" type="text/css" th:href="@{/portal/css/detail.css}" />-->
		<link rel="stylesheet" type="text/css" th:href="@{/portal/css/detailNew.css}" />
		<!--<link th:href="@{/portal/js/autoMenu/jquery.autoMenu.css}" rel="stylesheet" type="text/css">-->
		<link th:href="@{/admin/assets/css/animate.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/portal/js/jqueryShare/share.min.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/portal/js/autoToc/jquery.autoToc.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/portal/js/jqueryAos/aos.css}" rel="stylesheet" type="text/css">
	</head>

	<body class="home blog custom-background round-avatars" itemscope itemtype="http://schema.org/Organization">
		<div id="main" class="content" layout:fragment="content">
			<div id="fh5co-main">
				<div class="fh5co-narrow-content">
					<div class="container animated fadeInUp" style="margin: 0 auto;width: 100%;">
						<article id="post-1202" class="post detail-boby editormd-preview-container js-gallery post-1202 type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-11 tag-22 tag-29">
							<section class="post_content" id="postContainer">
								<header class="post_header">
									<h1 class="post_title">[[${post.title}]]</h1>
									<span th:id="${'/' + post.postUrl}" th:data-flag-title="${post.title}" class="leancloud_visitors" style="color:#6b6969">
										<i class="fa fa-calendar-o"></i> 发表于 [[${#dates.format(post.publishDate,'yyyy-MM-dd')}]] &nbsp;
										|&nbsp; <i class="fa fa-folder-o"></i> 分类于 [[${post.categoryName}]] <span th:if="${#strings.isEmpty(#servletContext.getAttribute('paramMap')['leancloud_app_id']) eq false}">&nbsp;
										|&nbsp; <i class="fa fa-eye"></i> 阅读数: <span class="leancloud-visitors-count"></span></span>&nbsp;
										|&nbsp; <i class="fa fa-commenting-o"></i> 评论数: <a th:href="${post.postUrl + '#SOHUCS'}"><span id="changyan_count_unit" style="color: #6b6969"></span></a>
									</span>
								</header>
								<div class="" th:utext="${md.md2html(post.content)}" ></div>
								<div class="alert alert-info">
									<ul class="copyright-declare">
										<li>
											<strong>本文作者:</strong> [[${#servletContext.getAttribute('paramMap')['author']}]]
										</li>
										<li>
											<strong>本文链接:</strong> <a id="shareUrl" th:href="@{${#servletContext.getAttribute('paramMap')['homePage']} + '/'+${post.postUrl}}" target="_blank" th:text="${#servletContext.getAttribute('paramMap')['homePage']+'/'+post.postUrl}"></a>
										</li>
									</ul>
								</div>
								<div class="meta split split--responsive cf">
									<div class="split__title">
										<time datetime="${#dates.format(post.createTime,'yyyy/MM/dd')}">[[${#dates.format(post.publishDate,'yyyy/MM/dd')}]]</time>
										<span class=""><a href="" rel="tag">[[${post.tags}]]</a></span>
									</div>

									<div id="social-share">
										<span class="entypo-share">
											<i class="fa fa-share-alt" aria-hidden="true"></i>
											分享
										</span>
									</div>
									<div id="share-2"></div>
								</div>
								<footer class="post-other-info">
									<div data-aos="slide-right" data-aos-delay="1.5s" th:if="${previous!=null}">
										<a th:href="${'/' + previous.postUrl}" class="prev pull-left">上一篇：《[[${previous.title}]]》</a>
									</div>
									<div data-aos="slide-left" data-aos-delay="1.5s" th:if="${next!=null}">
										<a th:href="${'/' + next.postUrl}" class="next pull-right">下一篇：《[[${next.title}]]》</a>
									</div>
								</footer>
								<div class="tocContainer hidden-xs aos-init aos-animate" id="tocContainer" aos="fade-left"></div>
							</section>
							<div id="cyReward" th:sid="${post.postUrl}" role="cylabs" data-use="reward" style="text-align: center;"></div>
						</article>
						<!--&lt;!&ndash; 评论 &ndash;&gt;-->
						<!--<div class="post post_content ml-content" id="commentContainer">-->
							<!--<div class="comment-title">-->
								<!--<h3>评论</h3>-->
							<!--</div>-->
							<!--<div class="comment-body">-->
								<!--<div id="comment-form-msg"></div>-->
								<!--<div class="comment-body">-->
									<!--<div class="comment-body-msg"></div>-->
									<!--<div class="comment-body-input">-->
										<!--<textarea class="comment-form-control form-control" name="content" rows="5" placeholder="说些内容吧~"  style="resize:none" ></textarea>-->
										<!--<form class="form-inline">-->
											<!--<div class="form-group">-->
												<!--<span style="display: inline-block;padding-left: 10px"><img src="/portal/images/comment_2.jpg" width="32" height="32"></span>-->
											<!--</div>-->
											<!--<div class="form-group">-->
												<!--<input type="text" class="comment-form-control form-control" placeholder="昵称（必填）">-->
											<!--</div>-->
											<!--<div class="form-group">-->
												<!--<input type="email" class="comment-form-control form-control" placeholder="邮箱（必填）">-->
											<!--</div>-->
											<!--<div class="form-group">-->
												<!--<input type="text" class="comment-form-control form-control"  placeholder="主页（选填）">-->
											<!--</div>-->
											<!--<input type="hidden" id="postId" th:value="${post.id}">-->
											<!--<div class="form-group text-center">-->
												<!--<button type="button" class="btn btn-primary reply-btn"><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;回复</button>-->
											<!--</div>-->
										<!--</form>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->

						<!--&lt;!&ndash; 评论列表 &ndash;&gt;-->
						<!--<div id="commentListContainer"></div>-->
						<div id="panel" th:if="${#strings.isEmpty(#servletContext.getAttribute('paramMap')['changyan_app_id']) eq false}">
							<div class="comment-area post post_content ml-content" style="background: #fafafa">
								<script type="text/javascript" charset="utf-8" src="https://changyan.itc.cn/js/lib/jquery.js"></script>
								<script type="text/javascript" charset="utf-8" th:src="@{'https://changyan.sohu.com/js/changyan.labs.https.js?appid='+${#servletContext.getAttribute('paramMap')['changyan_app_id']}}"></script>
								<div id="SOHUCS" th:sid="${post.postUrl}" style="width:100%"></div>
								<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
								<script type="text/javascript" src="https://assets.changyan.sohu.com/upload/plugins/plugins.count.js"></script>
								<script type="text/javascript" th:inline="javascript">
                                    var appid = [[${#servletContext.getAttribute('paramMap')['changyan_app_id']}]];
                                    var conf = [[${#servletContext.getAttribute('paramMap')['changyan_app_key']}]];
                                    window.changyan.api.config({appid: appid,conf: conf});
                                    setInterval(function () {
                                        $("#feedAv").hide();
                                    },10);
								</script>
							</div>
						</div>
					</div>
					<script type='text/javascript' th:src="@{/portal/js/jquery.min.js}"></script>
					<script type='text/javascript' th:src="@{/portal/js/highlight/highlight.pack.js}"></script>
					<script type='text/javascript' th:src="@{/portal/js/highlight.js}"></script>
					<script type='text/javascript' th:src="@{/portal/js/autoMenu/jquery.autoMenu.js}"></script>
					<script type='text/javascript' th:src='@{/portal/js/autoToc/jquery.autoToc.js}'></script>
					<script type='text/javascript' th:src='@{/portal/js/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js}'></script>
					<script type='text/javascript' th:src='@{/portal/js/script.js}'></script>
					<script type='text/javascript' th:src='@{/portal/js/plugins.js}'></script>
					<script type='text/javascript' th:src='@{/portal/js/detail.js}'></script>
					<script type='text/javascript' th:src='@{/portal/js/jqueryShare/jquery.share.min.js}'></script>
					<script type='text/javascript' th:src='@{/portal/js/jqueryAos/aos.js}'></script>
					<div th:if="${#strings.isEmpty(#servletContext.getAttribute('paramMap')['leancloud_app_id']) eq false}">
						<script src="https://cdn1.lncld.net/static/js/av-core-mini-0.6.4.js"></script>
						<script th:inline="javascript">
							var appId = [[${#servletContext.getAttribute('paramMap')['leancloud_app_id']}]]; var appKey = [[${#servletContext.getAttribute('paramMap')['leancloud_app_key']}]]; AV.initialize(appId,appKey);
						</script>
						<script type='text/javascript' th:src="@{/portal/js/leancloud.js}"></script>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>