<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{portal/layoutNew}">

<head>

</head>

<body class="home blog custom-background round-avatars" itemscope itemtype="http://schema.org/Organization">
<div id="main" class="content" layout:fragment="content">
    <div id="fh5co-main">
        <aside id="fh5co-hero" class="js-fullheight">
            <div class="flexslider js-fullheight">
                <ul class="slides">
                    <li th:style="@{'background-image: url('+${cover.imgUrl}+')'}" th:each="cover: ${coverInfo}">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                                    <div class="slider-text-inner">
                                        <h1>[[${cover.description}]]</h1>
                                        <!--<p><a class="btn btn-primary btn-demo popup-vimeo" href=""> <i class="icon-monitor"></i> Live Preview</a> <a class="btn btn-primary btn-learn">Learn More<i class="icon-arrow-right3"></i></a></p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <div id="archives" class="fh5co-narrow-content">
            <div th:if="${pageInfo.total > 0}">
                <div class='archive-title row row-bottom-padded-md'>
                    <h4 class="col-padding animate-box" data-animate-effect="fadeInLeft">近期博客</h4>
                    <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft" th:each="vo:${pageInfo.list}">
                        <div class="blog-entry" >
                            <a th:href="@{'/'+${vo.postUrl}}" class="blog-img">
                                <div th:if="${#strings.startsWith(vo.imgUrl,'material')}">
                                    <img th:src="@{'/portal/images/random/'+${vo.imgUrl}}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                                </div>
                                <div th:if="${#strings.startsWith(vo.imgUrl,'material') eq false}">
                                    <img th:src="${vo.imgUrl}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                                </div>
                            </a>
                            <div class="desc">
                                <a th:href="@{'/'+${vo.postUrl}}">[[${vo.title}]]</a>
                                <span class="time">[[${#dates.format(vo.createTime, 'yyyy-MM-dd')}]]</span>
                                <a th:href="@{'/'+${vo.postUrl}}" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="pagination js-pagination" th:if="${pageInfo.total > 0}">
                    <span th:if="${pageInfo.hasPreviousPage}">
                        <a class="prev page-numbers" th:href="@{ '/page/' + ${pageInfo.pageNum-1}+'/'}" ><strong>←</strong></a>
                    </span>
                    <span th:each="pageNum : ${pageInfo.navigatepageNums}">
                        <span th:if="${pageNum == pageInfo.pageNum}">
                            <a href="javascript:void(0)" th:text="${pageNum}" class="page-numbers current"></a>
                        </span>
                        <span th:if="${pageNum != pageInfo.pageNum}">
                            <a th:href="@{'/page/' + ${pageNum}+'/'}" th:text="${pageNum}" class="page-numbers"></a>
                        </span>
                    </span>
                    <span th:if="${pageInfo.hasNextPage}">
                        <a class="next page-numbers" th:href="@{'/page/' + ${pageInfo.pageNum+1}+'/'}" ><strong>→</strong></a>
                    </span>
                </nav>
            </div>
            <div class='archive-title' th:if="${pageInfo.total == 0}">
                <div style="text-align:center;">
                    ~~找不到数据~~
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>