<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{portal/layoutNew}">

<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.0/dist/APlayer.min.css">
	<script src="https://cdn.jsdelivr.net/npm/hls.js/dist/hls.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.0/dist/APlayer.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/color-thief-don@2.0.2/src/color-thief.js"></script>
	<style>
		body {
			text-rendering: auto;
		}
		#evanyou-canvas {
			z-index: -1 !important;
		}
		.aplayer-wrap {
			max-width: 700px;
			margin: 20px 0;
		}
		.sidebar-toggle {
			z-index: 90;
		}
	</style>
</head>

<body class="home blog custom-background round-avatars" itemscope itemtype="http://schema.org/Organization">
	<div id="main" class="content" layout:fragment="content">
		<div id="fh5co-main">
			<section class="splash image-left">
				<div id="player"></div>
			</section>
		</div>
		<script type="text/javascript" th:src="@{/portal/music/music.js}"></script>
	</div>

	</body>

</html>